.latestTrend {
  background-color: var(--bg-3);
  padding: 50px 0px;
}
.latestTrend h3 {
  opacity: 0.8;
}
.latestTrend .leftPart p {
  color: var(--text-1);
  font-size: var(--fs-medium);
  text-align: justify;
  opacity: 0.8;
}
.latestTrend .btnContainer {
  background-color: var(--bg-4);
  width: 220px;
  height: 50px;
  border-radius: 18px;
  font-size: 18px;
  color: var(--text-2);
  margin-top: 30px;
}

@media screen and (max-width: 992px) {
  .latestTrend [class*="col-"] {
    margin-bottom: 24px;
  }
}
